.tabs {
    display: flex;

    .tab_btn {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex: 1;
        background-color: #fff;
        font-size: 14px;
        font-weight: 500;
        &.on {
            background-color: $c_key;
            color: #fff;
        }
    }
}

.btn_detail {
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    display: inline-block;
    background: url(../images/btn_detail.svg) no-repeat center center;
}



.f_btn {
    text-align: center;
    display: inline-flex;
    vertical-align: top;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &.disabled {
        cursor: not-allowed;
        pointer-events: none;
        //opacity: 0.6;
    }
    &.ty_small {
        height: 24px;
        //line-height: 31px;
        padding: 0 8px;
        border-radius: 7px;
        font-size: 12px;
        font-weight: 500;
    }
    &.ty_mid {
        height: 38px;
        padding: 0 15px;
        border-radius: 7px;
        font-size: 15px;
        font-weight: 500;
    }
    &.ty_big {
        height: 50px;
        padding: 0 15px;
        border-radius: 7px;
        font-size: 15px;
        font-weight: 500;
    }
    
    &._key2 {
        background-color: $c_key2;
        color: $c_font2;
        &.disabled {
            background-color: #DBE1EA;
            color: #F5F9FF;    
        }
    }
    &._blue {
        background-color: $c_key;
        color: #fff;
        &.disabled {
            background-color: #DBE1EA;
            color: #F5F9FF;    
        }
    }

    &._blue2 {
        background-color: $c_key5;
        color: $c_key;
        &.disabled {
            background-color: #DBE1EA;
            color: #F5F9FF;    
        }
    }

    &._black { 
        background-color: $c_font;
        color: #fff; 
    }
    
    &._grey {
        background-color: $c_grey2;
        color: #fff;  
       
        &.disabled {
            background-color: #DBE1EA;
            color: #F5F9FF;    
        }
    }
    &._red {
        background-color: $c_red2;
        color: #fff;
        &.disabled {
            background-color: #DBE1EA;
            color: #F5F9FF;    
        }
    }
    &._red2 {
        background-color: $c_red3;
        color: $c_red2;
        &.disabled {
            background-color: #DBE1EA;
            color: #F5F9FF;    
        }
    }
    &._yellow {
        background-color: $c_yellow;
        color: #fff;
        &.disabled {
            background-color: #DBE1EA;
            color: #F5F9FF;    
        }
    }
    &._yellow2 {
        background-color: $c_yellow2;
        color: $c_yellow;
        &.disabled {
            background-color: #DBE1EA;
            color: #F5F9FF;    
        }
    }
    &._line {
        border: 1px solid $c_line2;
        background-color: #fff;
        &.disabled {
            background-color: #DBE1EA;
            color: #F5F9FF;    
        }
    }
    &._line_blue {
        border: 1px solid $c_key;
        background-color: #fff;
        color: $c_key;
        &.disabled {
            background-color: #DBE1EA;
            color: #F5F9FF;    
        }
    }

    &._ico {
        column-gap: 8px;
        &::before {
            content: '';
            width: 25px;
            height: 25px;
            background-repeat: no-repeat;
            background-position: center center;
        }
        &._add {
            &::before {
                width: 16px;
                height: 16px;
                background-image: url(../images/ico_add.svg);
            }
        }
        &._search {
            &::before {
                width: 24px;
                height: 24px;
                background-image: url(../images/ico_search.svg);
            }
        }
        &._print {
            &::before {
                width: 16px;
                height: 16px;
                background-image: url(../images/ico_pring.svg);
            }
        }
        &._down {
            &::before {
                width: 15px;
                height: 16px;
                background-image: url(../images/ico_down2.svg);
            }
        }
        &._mView {
            &::before {
                width: 16px;
                height: 16px;
                background-image: url(../images/ico_mView.svg);
            }
        }
        &._reset {
            &::before {
                width: 16px;
                height: 16px;
                background-image: url(../images/ico_reset2.svg);
            }
        }
        &._qr {
            &::before {
                width: 24px;
                height: 24px;
                background-image: url(../images/ico_qr.svg);
            }
        }
        &._excel {
            &::before {
                width: 24px;
                height: 25px;
                background-image: url(../images/ico_excel.svg);
            }
        }
    }
}

.chk_btn {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    .f_btn {
        background-color: #F4F7FB;
        color: #9DA6B5;
        transition: all .1s ease-in-out;
    }
    .inp_hidden {
        display: none;
        &:checked ~ .f_btn {
            @at-root .chk_set._blue & {
                background-color: #E5EFFD;    
                color: $c_key;
            }
            @at-root .chk_set._red & {
                background-color: #FFE9E9;    
                color: $c_red2;
            }
            @at-root .chk_set._yellow & {
                background-color: #FFF8EB;    
                color: $c_yellow;
            }
        }
    }
}
 

.btn_reset {
    width: 30px;
    height: 30px;
    background: url(../images/ico_reset.svg) center center no-repeat;
}

.btn_ico {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 8px;
    flex-shrink: 0;
    vertical-align: middle;
    &._srch {
        background-image: url(../images/ico_search.svg);
        border: 1px solid $c_line2;
        background-color: #fff;
    }
    &._add {
        background-image: url(../images/ico_add.svg);
        background-color: $c_key;
    }
    &._edit {
        background-image: url(../images/ico_edit.svg);
        &.on {
            background-color: $c_bg;
        }
    }
    &._del {
        background-image: url(../images/ico_del.svg);
        &.on {
            background-color: $c_red3;
        }
    }
    &._drag {
        background-image: url(../images/ico_drag.svg);
        opacity: 0.6;
        cursor: move; 
    }
    &._qr {
        background-color: #fff;
        background-image: url(../images/ico_qr.svg);
        
        border: 1px solid $c_line2;
    }
    &._back {
        background-color: $c_bg;
        background-image: url(../images/arrow_back.svg);
    }
}

.btn_tdu {
    text-decoration: underline;
    font-size: $fz_4;
}
.btn_link {
    text-decoration: underline;
    color: $c_key;
}

.f_switch {
    border-radius: 7px;
    border: 1px solid $c_key;
    height: 40px;
    display: inline-flex;
    overflow: hidden;
    
    &_btn {
        height: 100%;    
        text-align: center;
        padding: 0 12px;
        color: $c_key;
        font-size: $fz_4;
        font-weight: 500;
        &.on {
            background-color: lighten($c_key, 50%) ;
        }
        & + & {
            border-left: 1px solid $c_key;
        }
    }
}