.f_select {
    border: 1px solid $c_line;
    background-color: #fff;
    background-image: url(../images/arrow_select.svg);
    background-repeat: no-repeat;
    
   
    &.ty_mid {
        height: 38px;
        padding: 0 10px;
        padding-right: 30px;
        border-radius: 7px;
        font-size: 13px;
        font-weight: 500;
        background-position: right 10px center;
    }
    &.ty_big {
        height: 50px;
        padding: 0 20px;
        padding-right: 40px;
        border-radius: 7px;
        font-size: 15px;
        font-weight: 500;
        background-position: right 20px center;
    }
}

.f_input {
    border: 1px solid $c_line;
    max-width: 100%;
    text-overflow: ellipsis;
    background-color: #fff;
    
    &:focus {
        border-color: $c_key;
    }
    &.error {
        border-color: $c_red2;
    }
    &:read-only {
        background-color: darken(#fff, 3%);
    }
    &.ty_fit {
        width: 100%;
        height: 100%;
        padding: 0 10px;
        font-size: 13px;
        border: none;
    }
    &.ty_small {
        height: 34px;
        //line-height: 31px;
        padding: 0 8px;
        border-radius: 4px;
        font-size: 13px;
        //font-weight: 500;

    }
    &.ty_mid {
        height: 38px;
        padding: 0 10px;
        border-radius: 7px;
        font-size: 13px;
        //font-weight: 500;
        
    }
    &.ty_mid2 {
        height: 38px;
        padding: 0 20px;
        border-radius: 7px;
        font-size: 13px;
        //font-weight: 500;
        
    }
    &.ty_big {
        height: 50px;
        padding: 0 20px;
        border-radius: 7px;
        font-size: 15px;
        //font-weight: 500;
    }
    &._key {
        //border-color: $c_key;
        color: $c_key;
        &:focus {
            background-color: $c_key2;
        } 
    }

    &[type='date'] {
        position: relative; 
        text-align: right;
        background: url(../images/ico_date.svg) no-repeat left 8px center / 24px auto;
        background-color: #fff;
        padding-left: 24px;
    }
    &[type='date']::-webkit-calendar-picker-indicator {
        position: absolute; 
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        color: transparent;
        cursor: pointer;
    }
    
    
    &[type='date']::before {
        content: attr(data-placeholder); 
        width: 100%;
    }
    
    &[type='date']:focus::before,
    &[type='date']:valid::before {
        display: none;
    }

    &.datepicker {
        text-align: right;
        padding-left: 36px;
        background-color: #fff;
        background: url(../images/ico_date.svg) no-repeat left 8px center / 24px auto;
        font-size: 13px;
        cursor: pointer;
        width: 100%;
        max-width: 150px;
        &:read-only {
            background-color: #fff;
        }
        &.taL {
            text-align-last: left;
        }
        &._blue {
            background-image: url(../images/ico_date_blue.svg);
        }
    }

    &_del {
        
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-image: url(../images/ico_srch_close.svg);
        background-repeat: no-repeat;
        background-position: center center;
        display: none;
        &.on {
            display: block;
        }
    }

    
}
.input_wrap {
    position: relative;
    .f_input {
        &.has_count {
            padding-right: 60px;
        }
    }
    .count {
        position: absolute;
        right: 10px;
        line-height: 40px;
        color: $c_placeholder;
    }

    .f_input_util {
        position: absolute;
        right: 10px;
        top: 0;
        height: 40px;
        display: flex;
        align-items: center;
        .count {
            position: relative ;
            right: 0;
        }
    }
}
.ico_required {
    font-style: normal;
    color: $c_red;
}


.f_chk {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    position: relative;
    z-index: 2;
    &.vaT {
        vertical-align: top;
    }


    &._blue {
        input[type="checkbox"] {
            &:checked ~ .f_chk_ico {
                background-color: $c_key;
            }
            &:checked ~ .f_chk_txt {
                color: $c_key;
            }
        }
    }
    &._red {
        input[type="checkbox"] {
            &:checked ~ .f_chk_ico {
                background-color: $c_red2;
            }
            &:checked ~ .f_chk_txt {
                color: $c_red2;
            }
        }
    }
    &._yellow {
        input[type="checkbox"] {
            &:checked ~ .f_chk_ico {
                background-color: $c_yellow;
            }
            &:checked ~ .f_chk_txt {
                color: $c_yellow;
            }
        }
    }
    input[type="checkbox"] {
        border: 0; 
        clip: rect(0 0 0 0); 
        clip-path: inset(50%); 
        width: 1px; 
        height: 1px; 
        margin: -1px; 
        overflow: hidden; 
        padding: 0; 
        position: absolute; 
        white-space: nowrap; 
        
        
    }
    &_ico {
        width: 20px;
        height: 20px;
        align-self: flex-start;
        border-radius: 4px;
        background-color: #EBEBEB;
        box-sizing: border-box;
        margin-right: 8px;
        position: relative;
        background-image: url(../images/f_chk.svg);
        background-position: center;
        background-repeat: no-repeat;
        flex-shrink: 0;
    }
    &_txt {
        color: #9DA6B5;
        font-size: 13px;
        line-height: 20px;
        //font-weight: 500;
        flex: 1;
        font-weight: 500;
        //@include text-hidden-single
    }
}


.f_toggle {
    display: inline-block;
    vertical-align: top;
    user-select: none;
    input { 
        display: none;
        &:checked + .slider {
            
            &::before {
                left: calc(100% - 15px);
            }
        }
    }

    &._blue {
        input { 
            &:checked + .slider {
                background-color: $c_key;
            }
        }
    }
    &._red {
        input { 
            &:checked + .slider {
                background-color: $c_red2;
            }
        }
    }
    &._yellow {
        input { 
            &:checked + .slider {
                background-color: $c_yellow;
            }
        }
    }
    
    .slider {
        display: block;
        position: relative;
        width: 30px;
        box-sizing: border-box;
        height: 18px;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: darken($c_bg, 12%);
        transition: all .2s ease-in-out;
        border-radius: 18px;

        &::before {
            position: absolute;
            content: "";
            height: 12px;
            width: 12px;
            left: 3px;
            bottom: 3px;
            background-color: #fff;
            transition: all .2s ease-in-out;
            border-radius: 50%;
        }
    }
}


.f_ta {
    width: 100%;
    border: 1px solid $c_line;
    border-radius: 7px;
    font-size: 13px;
    padding: 10px;
    height: 60px;
    overflow-y: auto;
}
.ta_wrap {
    position: relative;
    border: 1px solid $c_line;
    border-radius: 7px;
    padding-bottom: 26px;
    .f_ta {
        border: none;
        border-radius: none;
    }
    .count {
        position: absolute;
        right: 10px;
        bottom: 4px;
        color: $c_placeholder;
    }
}

.img_upload {
    background-color: $c_bg;
    text-align: center;
    //padding: 10px;
    border-radius: 10px;
    height: 180px;
    width: 180px;
    display: inline-flex;
    vertical-align: top;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    &_ico {
        width: 50px;
        height: 50px;
        background-image: url(../images/img_upload2.svg);
        background-repeat: no-repeat;
        background-position: center center;
    }
    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}