#wrap {
    background-color: $c_bg;
    max-width: 720px;
    min-height: 100dvh;
    position: relative;
    margin: 0 auto;
}

.header {
    position: sticky;
    width: 100%;
    height: 54px;
    z-index: 9999;
    left: 0;
    top: 0;
    background-color: #fff;
    padding: 0 20px;
    display: flex;
    align-items: center;
    .logo {
        img {
            width: 134px;
        }
    }
    &_user {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 4px;
        &_ico {
            width: 24px;
            height: 24px;
            background-image: url(../images/ico_user.svg);
            background-repeat: no-repeat;
            background-position: center center;
        }
        &_name {
            font-size: $fz_3;
            font-weight: 600;
        }
    }
}



.top_notice {
    padding: 8px 20px;
    font-size: $fz_1;
    background-color: #fff;
    &_box {
        border: 1px solid $c_line;
        height: 40px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        padding: 0 16px;
        gap: 4px;
    }
    &_ico {
        display: flex;
        align-items: center;
        gap: 4px;
        flex-shrink: 0;
        font-weight: bold;
       
        &::before {
            content:'';
            width: 14px;
            height: 12px;
            background-repeat: no-repeat;
            background-position: center center;
            background-image: url(../images/ico_notice.svg);
        }
        &::after {
            content: '';
            width: 1px;
            height: 16px;
            background-color: $c_line2;

        }
    }
    &_tit {
        flex: 1;
        min-width: 0;
        @include text-hidden-single
    }
}

.contents {
    //padding: 0 20px;
    border-top: 1px solid $c_line;
    min-height: calc(100dvh - 180px);
    &_wrap {
        padding: 16px 16px 40px;
        background-color: $c_bg;
        border-radius: 16px 16px 0 0;
    }
}

.login {
    &_wrap {
        min-height: 100dvh;
        display: flex;
        flex-direction: column; 
        padding: 34px 20px;
        background-color: #fff;
    }
    &_intro {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-bottom: 34px;
        .logo {
            margin-bottom: 16px;
        }
        .tit {
            font-size: $fz_6;
            font-weight: bold;
        }
        .desc {
            font-size: $fz_3;
        }
    }
    &_form {
        display: flex;
        flex-direction: column;
        
        background-color: rgba(#fff,.2);
        border-radius: 30px;
        width: 100%;
        row-gap: 8px;
        .f_input.ty_big {
            height: 56px;
            padding: 0 20px;
            &[type="password"] {
                padding-right: 50px;
                background-image: url(../images/ico_pw.svg);
                background-repeat: no-repeat;
                background-position: calc(100% - 20px) center;
            }
        }
    }
}

.commute {
    &_wrap {
        min-height: calc(100dvh - 111px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 32px 0;
        background-color: #fff;
    }
    &_txt {
        .tit {
            font-size: $fz_6;
            font-weight: bold;
        } 
        .desc {
            font-size: $fz_3;
            margin-top: 2px;
        }
    }
    &_btns {
        margin-top: 32px;
    }
    &_btn {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: linear-gradient(135deg, #0134FF 0%, #00AC83 50%);
        display: flex;
        align-items: center;
        justify-content: center;
        & + & {
            margin-top: 16px;
        }
        &_inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 184px;
            height: 184px;
            border-radius: 50%;
            gap: 6px;
            box-sizing: border-box;
            background-color: #fff;
            letter-spacing: -0.6px;

            @at-root .disabled & {
                background-color: $c_bg;
            }
        }
        .btn_tit {
            font-weight: bold;
            font-size: 36px;    
        }
        .btn_time {
            color: $c_grey;
            font-weight: bold;
            font-size: 24px; 
        }
        .btn_date {
            color: $c_grey;
            font-size: 14px;
        }

        &.disabled {
            background: $c_bg;
            pointer-events: none;
            .btn_tit, .btn_time, .btn_date {
                color: $c_placeholder;
            }
        }
    }
}

.top_set {
    border-radius: 16px 16px 0 0;
    padding: 30px 16px 46px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: -16px;
    &_wrap {
        background-color: #fff;
    }
    &.ty_work {
        background: linear-gradient(135deg, #0134FF 0%, #00AC83 100%);
    }  
    &.ty_emergency {
        background: linear-gradient(135deg, #FF5B5B 40%, #F2BD00 100%);
    }
    &.ty_customer {
        background: linear-gradient(135deg, #FCA004 40%, #A4FF5C 100%);
    }
    &_txt {
        .tit {
            font-size: 22px;
        }
        .desc {
            font-size: 14px;
            margin-top: 16px;
        }
    }
    .ico_box {
        flex-shrink: 0;
    }
}

.work_set {
    background-color: #fff;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 0 8px rgba(#000, 0.05);
    &.finished {
        .work_set_inner {
            opacity: 0.6;
            pointer-events: none;
        }
        
    }
    &_label {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        padding-bottom: 14px;
        margin-bottom: 14px;
        border-bottom: 1px solid $c_line;
    }
    &_cont {
        .tit {
            display: flex;
            font-size: 16px;
            line-height: 19px;
            font-weight: 600;
            .tit_ico {
                width: 17px;
                height: 19px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                margin-right: 4px;
                flex-shrink: 0;
                &.ico_work {
                    background-image: url(../images/ico_work.svg);
                }
            }
        }
        .workers {
            font-size: 12px;
            font-weight: 600;
            color: $c_grey;
            display: flex;
            &::before {
                content:'';
                width: 18px;
                height: 18px;
                background-image: url(../images/ico_user.svg);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                margin-right: 4px;
            }
        }
        .location {
            font-size: 12px;
            font-weight: 600;
            color: $c_font;
            display: flex;
            &::before {
                content:'';
                width: 9px;
                height: 18px;
                background-image: url(../images/ico_loc.svg);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                margin-right: 4px;
            }
        }
    }
    &_btns {
        margin-top: 14px;
    }


}

.work_list {
    &_item {
        & + & {
            margin-top: 8px;
        }
    }
}

.detail_top {
    border-radius: 16px 16px 0 0;
    padding: 16px 16px 32px;
    color: #fff;
    margin-bottom: -16px;
    &_wrap {
        background-color: #fff;
    }
    &.ty_work {
        background: linear-gradient(135deg, #0134FF 0%, #00AC83 100%);
    }  
    &.ty_emergency {
        background: #FF5B5B;
    }
    &.ty_customer {
        background: #FCA004
    }
    &_tit {
        text-align: center;
        position: relative;
        padding: 0 20px;
        .btn_back {
            position: absolute;
            width: 30px;
            height: 30px;
            left: -10px;
            top: 0;
            background-image: url(../images/arrow_back.svg);
            background-repeat: no-repeat;
            background-position: center center; 
        }
        .tit {
            font-size: 22px;
            line-height: 30px;
        }
    }
    &_cont {
        padding: 16px;
        border-radius: 16px;
        background-color: rgba(#fff, 0.1);
        .tit {
            font-size: 16px;
            line-height: 19px;
            font-weight: 600;
        }
        .workers {
            font-size: 12px;
            font-weight: 600;
            display: flex;
            &::before {
                content:'';
                width: 18px;
                height: 18px;
                background-image: url(../images/ico_user_w.svg);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                margin-right: 4px;
            }
        }
        .location {
            font-size: 12px;
            font-weight: 600;
            display: flex;
            &::before {
                content:'';
                width: 9px;
                height: 18px;
                background-image: url(../images/ico_loc_w.svg);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                margin-right: 4px;
            }
        }
    }
}

.sticky_bot {
    position: sticky;
    z-index: 9999;
    width: 100%;
    padding: 10px 16px;
    //background-color: $c_bg;
    background-color: #fff;
    bottom: 0;
    left: 0;
    box-shadow: 0 0 10px rgba(#000, 0.1);
}

.chk_set {
    padding: 16px;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    gap: 8px;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid $c_line;
    @include dropShadow;


    &_txt {
        font-size: 16px;
        color: #636363;
        font-weight: 600;
        @at-root .chk_set._blue.checked & {
            color: $c_key;
        }
        @at-root .chk_set._red.checked & {
            color: $c_red2;
        }
        @at-root .chk_set._yellow.checked & {
            color: $c_yellow;
        }
    }
    .btn_set {
        margin-left: auto;
        display: flex;
        gap: 8px;
        flex-shrink: 0;
    }
}

.detail_wrap {
    padding: 16px;
    @include dropShadow;
    margin-top: 8px;
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}
.detail_sec {
    @include dropShadow;
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
    position: relative;

    &.ty_line {
        box-shadow: none;
        border: 1px solid $c_line;
    }
    .sticker {
        position: absolute;
        font-size: 12px;
        padding: 0 8px;
        border-radius: 8px 0 8px 0;
        left: 0;
        top: 0;
        &._black {
            background-color: #000;
            color: #fff;
        }
    }
    &_tit {
        font-size: 16px;
        border-bottom: 1px solid $c_line;
        padding: 16px 16px 8px;
        font-weight: 600;
    }
    &_cont {
        padding: 16px;
    }
    &_info {
        padding: 16px;
        border-radius: 0 0 8px 8px;
        &._red {
            background-color: $c_red3;
            color: $c_red2;
        }
        &._yellow {
            background-color: $c_yellow2;
            color: $c_yellow;
        }
        
    }
}
.chk_list {
    &_item {
        & + & {
            margin-top: 8px;
        }
       .f_chk {
            display: flex;
            border: 1px solid $c_line;
            border-radius: 8px;
            padding: 10px 16px;
       }
    }
}

.attach_set {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    text-align: center;
    &_ico {
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url(../images/ico_attach.svg);
        &._red {
            background-image: url(../images/ico_attach_red.svg);
        }
    }
    .attach_img {
        border-radius: 8px;
        overflow: hidden;
        
        position: relative;
        width: 100%;
        border: 1px solid $c_line;
        
        
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

}

.list_info {
    &_item {
        display: flex;
        font-size: 12px;
        color: $c_grey2;
        text-align: left;
        &::before {
            content: '※';
            flex-shrink: 0;
            margin-right: 4px;
        }
    }
}

.no_data {
    display: flex;
    padding: 80px 16px;
    background-color: #fff;
    border-radius: 8px;
    @include dropShadow;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 16px;
    
    &_ico {
        width: 100px;
        height: 100px;
        
        background-repeat: no-repeat;
        background-position: center center;
        &._red {
            background-image: url(../images/ico_no_data_red.svg);
        }
        &._yellow {
            background-image: url(../images/ico_no_data_yellow.svg);
        }
    }
}