#wrap {
    background-color: #fff;
    max-width: 720px;
    min-height: 100dvh;
    position: relative;
    margin: 0 auto;
}

.header {
    position: fixed;
    width: 100%;
    height: 54px;
    z-index: 9999;
    left: 0;
    top: 0;
    background-color: #fff;
    padding: 0 20px;
    display: flex;
    align-items: center;
    .logo {
        img {
            width: 134px;
        }
    }
    &_user {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 4px;
        &_ico {
            width: 24px;
            height: 24px;
            background-image: url(../images/ico_user.svg);
            background-repeat: no-repeat;
            background-position: center center;
        }
        &_name {
            font-size: $fz_3;
            font-weight: 600;
        }
    }
}

.container {
    padding: 54px 0 34px;

}

.top_notice {
    padding: 8px 20px;
    font-size: $fz_1;
    &_box {
        border: 1px solid $c_line;
        height: 40px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        padding: 0 16px;
        gap: 4px;
    }
    &_ico {
        display: flex;
        align-items: center;
        gap: 4px;
        flex-shrink: 0;
        font-weight: bold;
       
        &::before {
            content:'';
            width: 14px;
            height: 12px;
            background-repeat: no-repeat;
            background-position: center center;
            background-image: url(../images/ico_notice.svg);
        }
        &::after {
            content: '';
            width: 1px;
            height: 16px;
            background-color: $c_line2;

        }
    }
    &_tit {
        flex: 1;
        min-width: 0;
        @include text-hidden-single
    }
}

.contents {
    padding: 0 20px;
    border-top: 1px solid $c_line;
}

.login {
    &_wrap {
        min-height: 100dvh;
        display: flex;
        flex-direction: column; 
        padding: 34px 20px;
    }
    &_intro {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-bottom: 34px;
        .logo {
            margin-bottom: 16px;
        }
        .tit {
            font-size: $fz_6;
            font-weight: bold;
        }
        .desc {
            font-size: $fz_3;
        }
    }
    &_form {
        display: flex;
        flex-direction: column;
        
        background-color: rgba(#fff,.2);
        border-radius: 30px;
        width: 100%;
        row-gap: 8px;
        .f_input.ty_big {
            height: 56px;
            padding: 0 20px;
            &[type="password"] {
                padding-right: 50px;
                background-image: url(../images/ico_pw.svg);
                background-repeat: no-repeat;
                background-position: calc(100% - 20px) center;
            }
        }
    }
}

.commute {
    &_wrap {
        min-height: calc(100dvh - 150px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 32px 0;
    }
    &_txt {
        .tit {
            font-size: $fz_6;
            font-weight: bold;
        } 
        .desc {
            font-size: $fz_3;
            margin-top: 2px;
        }
    }
    &_btns {
        margin-top: 32px;
    }
    &_btn {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: linear-gradient(135deg, #0134FF 0%, #00AC83 50%);
        display: flex;
        align-items: center;
        justify-content: center;
        & + & {
            margin-top: 16px;
        }
        &_inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 184px;
            height: 184px;
            border-radius: 50%;
            gap: 6px;
            box-sizing: border-box;
            background-color: #fff;
            letter-spacing: -0.6px;

            @at-root .disabled & {
                background-color: $c_bg;
            }
        }
        .btn_tit {
            font-weight: bold;
            font-size: 36px;    
        }
        .btn_time {
            color: $c_grey;
            font-weight: bold;
            font-size: 24px; 
        }
        .btn_date {
            color: $c_grey;
            font-size: 14px;
        }

        &.disabled {
            background: $c_bg;
            pointer-events: none;
            .btn_tit, .btn_time, .btn_date {
                color: $c_placeholder;
            }
        }
    }
}