.paging {
    &_wrap {
        display: flex;
        margin-top: 16px;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 0 4px;
        // &.mt24 {
        //     margin-top: 24px;
        // }
    }
    &_btn {
        
        min-width: 28px;
        height: 28px;
        //padding: 0 4px;
        box-sizing: border-box;
        border-radius: 14px;
        line-height: 26px;
        font-size: 13px;
        color: $c_font;
        border: 1px solid $c_line2;
        flex-shrink: 0;
        font-weight: 500;
        padding: 0 4px;
        
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #fff;
        

        
        &.paging_nav {
            width: 28px;
            height: 28px;
            min-width: 28px; 
        }
        
        &.ty_first {
            background-image: url(../images/paging_first.svg);
        }
        &.ty_prev {
            background-image: url(../images/paging_prev.svg);
            //margin-right: 4px;
        }
        &.ty_next {
            background-image: url(../images/paging_next.svg);
            //margin-left: 4px;
        }
        &.ty_last {
            background-image: url(../images/paging_last.svg);
        }
    }
    &_list {
        display: flex;
        gap: 0 5px;
        .paging_btn {
            
            
            &.current {
                background-color: $c_key;
                color: #fff;
            }
        }
    }
}